* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  /* background-color: rgb(32, 33, 36); */
  background-image: url('../img/background.png');z-index: 1;
}

.header {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #65adff;
  padding: 0.8rem 0.8rem 0.5rem 0.8rem;
  top: 0;
  z-index: 100;
  margin: 0 5px 5px 5px;
  border-radius: 10px;
}

.leftnav a {
  margin-right: 25px;
}

#seticon {
  transition: transform 1s;
}

#seticon:hover {
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

#giticon:hover {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.drawer-body {
  font-family: 'Poppins', sans-serif;
  height: 480px;
  width: 500px;
}

@keyframes shake {
  10%,
  90% {
      transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
      transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
      transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
      transform: translate3d(4px, 0, 0);
  }
}

.rightnav img {
  margin: 0px 1.5rem;
}


.contestinfo {
  /* background-color: rgb(32, 33, 36); */
  position: relative;
  width: 100%;
}

.contestinfo>p{
  text-align: center;
  color: rgb(255, 157, 157);
  font-weight: bold;
}

.ongoingcontestheader
{
    text-align: center;
    padding: 0.5rem;
    color: white;
    font-weight: bolder;
    font-size: x-large;
}

.comp_icon{
  height: 50px;
  width: 50px;
  background-color: #fff0c2;
  padding: 5px;
  border-radius:100%;
}

.comp_icon:hover{
    scale: 1.1;
    transition: scale 0.5s;
  }
  
  ul.test {
    list-style-type: none;
    padding: 0;
  }
  
  a{
    text-decoration: none;  
  }
  
  ul.test li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
  }
  
  .container {
    margin: 30px auto;
    width: 50%;
  }
  
  .container h2 {
    font-weight: 300;
  }
  
  .container p {
    text-align: center;
  }
  
  .centered {
    display: flex;
    justify-content: center;
  }
  
  .centered button {
    transform: scale(1.3);
    margin: 15px;
  }

  .box{
    padding: 20px;
    color: white;
    margin: 20px;
    border-radius: 10px;
    transition: background 1s;
  }
  .list:hover{
    color: black;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.15);
    transition: background 1s box-shadow 1s ease-in-out;
  }
  
  .list{
    padding: 10px;
  }

  .list:hover{
    background-color: #fff0c2;
    border-radius: 20px;
  }

  .list:hover .comp_icon{
    background-color: white;
  }

  .list:hover .comp_name{
    color: red;
  }

  .comp_name{
    color: rgb(212, 79, 79);
  }